*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background: url("img/banner_bg.jpg");
    min-height: 635px;
    color: #fafafa;
    font-family: sans-serif; 
    background-size: 100%;   
}

.desktop {
    width: 100%;
}

.global{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/*display:  grid;
place-item:center; */

/* suprimer les puces dans une liste non ordonnée en ul ou en ol*/

.navbar{
    text-transform: uppercase;
    font-weight: 100;
    top: 0;
    width: 70%;
    
    /*position fixed
    width:100%*/

}

/*
img ciblera une balise HTML img
.icone ciblera une balise contenant la class "icone". EX: <div class="icone">..</div>
#icone ciblera une balise contenant l'id "icone". EX: <div id="icone">...</div>
* { ciblera TOUT les éléments et supprimera les héritages.
    EX: div {text-align:center;} passera après * {text-align:left;}
    si ton html est : <div> Bonjour <p> Au revoir </p> </div>
*/
.classeimg{
    background:url("img/banner_bg.jpg") ;
    background-position: center;
    background-size: cover;
    height: 100px;
}


/*.icone img {
    width: 100%;
}*/
.logo a{
    color: #fafafa;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
    font-family: sans-serif;
}

.icone img {
    width: 100px;
    background-color: #f6C45C;
    padding: 50%;
    border-radius: 100%;
    border: #fafafa 1px solid;
}

.logo a span{
    color: gold;
    font-size: 1.6em;
}

.logo{
    padding-left: 30px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.boxheader {
    color: #fafafa;
    text-align: center;
    margin: 15em auto;
}

.boxheader h1{
    margin:1em; 
}

.boxheader button{
    background-color: #fafafa;
    border-radius: 25px;
    border:100px;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    margin: 1em auto;
}
.boxheader p{
    margin: 1em auto;
    width: 40%;
}
h1 span:first-child{
    color:#3BC6D3 ;
}

h1 span:last-child{
    color:#f6C45C;
}


.desktop ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}



#section1{
    background:url("img/about-bg.jpg") ;
    background-size:100%;
    height: 630px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    color: #fafafa;
    }

   
.icone{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}
.icone img{
    max-height: 100%;
}



#section1 div{
    width: 20%;
    text-align: center;

}
#section1 h2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    border-bottom: 1px solid #fafafa;
    padding: 5vmin;
}

     section p{
    text-align: center;
    font-weight: bolder;
    color: #fafafa;
    width: 100%;
}
    button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: bolder;
    background : #3BC6D3;
    border-radius: 40px;
    border: 0;
    padding: 5px 90px;
    width: 10%;
    margin: 3em auto;
}
#section2 {
    display: flex;
}
.rectangle-bleu{
    background-color: #3BC6D3;
    width:30%;
    padding:125px
}

.rectangle-bleu p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-transform: bolder;
    color: #fafafa;
    padding: 0;
    font-weight: 100;
    font-size: 1.5em;
    font-family: sans-serif;
}

#section2 h2 {
    display: flex;
    justify-content:center;
    font-size: 2em;
    align-items: center;
    font-family: sans-serif;
    color: #fafafa;
    border-bottom: 1px solid #fafafa;
    
}


#section2  ul {
    list-style: none;
    padding: 0;
    margin-left: -10px;
    color: #fafafa;
}
#section2  ul span{
    color: #f6C45C;
}
.mosaique{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    padding: 2em;
}
.mosaique img{
    width: 50%;
    margin:0;
}

#section3{
    background-color: #f6C45C;
    background-size: 100%;
    width:  100%;
    height: 350px;
}

.circle2 i{
    display: flex;
    align-items: center;

    color: #fafafa;
}


iframe{
    width: 100%;
}
footer{
    background-color: #383b3c;
    background-size: 100%;
    height: 350px;

}

.logo2 {
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: sans-serif;
    font-weight: 200;
    color: #fafafa;
    width: 50%;
}
.boxfooter {
    display: flex;
    justify-content: space-around;
}
.boxfooter p{
    display: flex;
    justify-items:space-between;
    align-items:column;
    text-align: center;
    color: #fafafa;
    font-family: sans-serif;
}

.logo2 a span {
    color: #fafafa;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.logo2  a span{
    color: #f6C45C;
    font-weight: bolder;
    font-size: 1.6em;
    text-transform: uppercase;
}

.logo2 h2{
    color: #fafafa;
    font-weight:bolder;
    font: size 1.5em;
    text-transform:uppercase ;
}

.logo2

.boxfooter h2{
    display: flex;
    justify-content:space-between;
    align-items:column;
    color: #fafafa;
    font-family: sans-serif;
    font-weight: 200;
}

 .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
    
}
.circle i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 35px;
}
/* version responsive mobile*/

@media screen and (max-width: 635px) {    
    .boxfooter {
        flex-direction: column-reverse;
    }
    .circle i{
        margin: 1em;
    }
    
    
    
    
    header{
        background: url("img/banner_bg.jpg");
        min-height: 635px;
        color: #fafafa;
        font-family: sans-serif; 
        background-size: 100%;   
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
}